<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>1.2 ASRock X570 Phantom Gaming ITX/TB3 USB map</string>
	<key>CFBundleIdentifier</key>
	<string>com.asrock.X570PhantomGamingITXTB3.USBmap</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ASRock X570 ITX/TB3 USB map</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>IOKitPersonalities_x86_64</key>
	<dict>
		<key>MacPro7,1-GP13-XHC0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/GP13@8,1/IOPP/XHC0@0,3/XHC0@60000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBHostController</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>5100</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>5100</integer>
				<key>port-count</key>
				<data>
				CAAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>SS01</key>
					<dict>
						<key>Comment</key>
						<string>Back Top Left USB-A (3.0)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BwAAAA==
						</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>Comment</key>
						<string>Back Top Right USB-A (3.0)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacPro7,1</string>
		</dict>
		<key>MacPro7,1-XHC0</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/BXBR@1,2/IOPP/BYUP@0/IOPP/BYD8@8/IOPP/XHC0@0,3/XHC0@61000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBHostController</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>5100</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>5100</integer>
				<key>port-count</key>
				<data>
				CAAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>HS01</key>
					<dict>
						<key>Comment</key>
						<string>Case Right USB-A (2.0)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>HS02</key>
					<dict>
						<key>Comment</key>
						<string>Bluetooth USB hub</string>
						<key>UsbConnector</key>
						<integer>255</integer>
						<key>port</key>
						<data>
						AgAAAA==
						</data>
					</dict>
					<key>HS03</key>
					<dict>
						<key>Comment</key>
						<string>Case Left USB-A (2.0)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
					<key>HS04</key>
					<dict>
						<key>Comment</key>
						<string>Back USB-C (2.0)</string>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>port</key>
						<data>
						BAAAAA==
						</data>
					</dict>
					<key>HS05</key>
					<dict>
						<key>Comment</key>
						<string>Back Top Left USB-A (2.0)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BgAAAA==
						</data>
					</dict>
					<key>SS01</key>
					<dict>
						<key>Comment</key>
						<string>Case Right USB-A (3.0)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BwAAAA==
						</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>Comment</key>
						<string>Case Left USB-A (3.0)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						CAAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacPro7,1</string>
		</dict>
		<key>MacPro7,1-XHC1</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/BXBR@1,2/IOPP/BYUP@0/IOPP/BYD8@8/IOPP/XHC1@0,1/XHC1@20000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBHostController</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>5100</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>5100</integer>
				<key>port-count</key>
				<data>
				CgAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>HS01</key>
					<dict>
						<key>Comment</key>
						<string>Back Top Right USB-A (2.0)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						AQAAAA==
						</data>
					</dict>
					<key>HS02</key>
					<dict>
						<key>Comment</key>
						<string>Back Bottom Right USB-A (2.0)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BQAAAA==
						</data>
					</dict>
					<key>HS03</key>
					<dict>
						<key>Comment</key>
						<string>Back Bottom Left USB-A (2.0)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						BgAAAA==
						</data>
					</dict>
					<key>SS01</key>
					<dict>
						<key>Comment</key>
						<string>Back Bottom Left USB-A (3.0)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						CQAAAA==
						</data>
					</dict>
					<key>SS02</key>
					<dict>
						<key>Comment</key>
						<string>Back Bottom Right USB-A (3.0)</string>
						<key>UsbConnector</key>
						<integer>3</integer>
						<key>port</key>
						<data>
						CgAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacPro7,1</string>
		</dict>
		<key>MacPro7,1-XHCITR</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AppleUSBHostMergeProperties</string>
			<key>IOClass</key>
			<string>AppleUSBHostMergeProperties</string>
			<key>IOPathMatch</key>
			<string>IOService:/AppleACPIPlatformExpert/PCI0@0/AppleACPIPCI/BXBR@1,2/IOPP/BYUP@0/IOPP/BYD2@2/IOPP/BYS2@0/IOPP/pci-bridge@2/IOPP/pci8086,15e9@0/AppleUSBXHCITR@00000000</string>
			<key>IOProviderClass</key>
			<string>AppleUSBHostController</string>
			<key>IOProviderMergeProperties</key>
			<dict>
				<key>kUSBSleepPortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBSleepPowerSupply</key>
				<integer>4700</integer>
				<key>kUSBWakePortCurrentLimit</key>
				<integer>2100</integer>
				<key>kUSBWakePowerSupply</key>
				<integer>4700</integer>
				<key>port-count</key>
				<data>
				AwAAAA==
				</data>
				<key>ports</key>
				<dict>
					<key>SS01</key>
					<dict>
						<key>Comment</key>
						<string>Back USB-C (3.0)</string>
						<key>UsbConnector</key>
						<integer>9</integer>
						<key>port</key>
						<data>
						AwAAAA==
						</data>
					</dict>
				</dict>
			</dict>
			<key>model</key>
			<string>MacPro7,1</string>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Root</string>
</dict>
</plist>
